.mapContainer {
  height: 50vh;
  background-color: #191a1a;
}

.leaflet-container {
  background-color: #191a1a;
}
#map div {
  background-color: #191a1a;
}

.countryName {
  display: flex;
  align-items: center;
}

.countryName img {
  margin-right: 6px;
}
